.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1450px;
}

.wrapper {
    display: grid;

    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #171819;
}



